@media (max-width: 600px) {
  .sidebar{
    display: none;
  }
}

@media (max-width: 1315px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }
  
  .sidebar-link {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
  }
  
  .sidebar-link div {
    font-family: Roboto,Arial;
    font-size: 10px;
  }
}

@media (min-width: 1315.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 240px;
    z-index: 200;
    padding-top: 5px;
  }
  
  .sidebar-link {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items:center;
    cursor: pointer;
    margin-left: 15px;
    padding-left: 10px;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    width: 195px;
    border-radius: 10px;
  }
  
  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
    margin-right: 20px;
  }
  
  .sidebar-link div {
    font-family: Roboto,Arial;
    font-size: 14px;
  }
}


