.thumbnail {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}


/* --------------------------------------- */
/* styles for watch-later and add-to-queue */
/* --------------------------------------- */

.tool-watch-later,
.tool-queue {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.822);
  overflow: hidden;
  display: flex;
  display: none;
  align-items: center;
  cursor: pointer;
  
  color: white;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 3px; 
  
  transform-origin: left;
  transition: width 0.20s;
  transition-timing-function: ease-in-out;
}

.tool-watch-later {
  top: 10px;
  left: 10px;
}

.tool-queue {
  top: 38px;
  left: 10px;
}

.tool-icon {
  height: 95%;
  margin-right: 5px;
}

.tool-watch-later:hover,
.tool-queue:hover {
  width: 98px;
}

.video-preview {
  transition: display 0.15s;
}

.video-preview:hover .tool-watch-later,
.video-preview:hover .tool-queue  {
  display: inline-flex;
}


/* ------------------------------------------------------------- */
/* styles for video title, channel pic, and all the addtn'l info */
/* ------------------------------------------------------------- */

.video-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  width: 50px;
  vertical-align: top;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.channel-details-container {
  display: flex;
  /* background-color: lightblue; */
  align-items: start;
}

.verified {
  height: 13px;
  width: 12px;
  margin-top: 1px;
  margin-left: 6px;
  display: none;
}

.is-verified {
  display: inline-flex;
}

.video-author,
.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
}


/* ------------------------------ */
/* styles for page responsiveness */
/* ------------------------------ */
@media (min-width: 600.1px) and (max-width: 1080px){
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }

  .video-title {
    font-size: 14px;
  }
}

@media (min-width: 1080.1px) and (max-width: 1560px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 14px;
  }
}

@media (min-width: 1560.1px) and (max-width: 1750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1750.1px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}
